@model IEnumerable<BeautySouthKoreaSiteMVC.Models.Cosmetic>

@{
    ViewData["Title"] = "BSK";


}

<div class="container">
    <div class="content row">
        <div class="col-sm-3">
            <section class="sticky-top">

                <form id="my_form" asp-action="Face" method="get">
                    @{await Html.RenderPartialAsync("_inputFilter");}
                </form>

            </section>
        </div>

        <div class="col-sm-9 p-0">
            <div class="col-md-12 mb-3">
                <table class="table">
                    <thread>
                        <tr>
                            <th>
                                <a class="sort" id="sortname" data-sortorder="@ViewBag.NameSortParm" href="javascript:void(0)">@Html.DisplayNameFor(model => model.Name)</a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                <a class="sort" id="sortprice" data-sortorder="@ViewBag.PriceSortParm" href="javascript:void(0)">@Html.DisplayNameFor(model => model.Price)</a>
                            </th>
                        </tr>
                    </thread>
                </table>
            </div>

            <div class="row pr-3 pl-3">
                @foreach (var c in Model)
                {
                        <div class="filter col-md-3 p-0 hover-bc-card" data-category="@c.PurposeFor">
                            <div class="p-3">
                                <a class="text-decoration-none text-dark" asp-action="Product" asp-controller="Cosmetic" asp-route-id="@c.Id">
                                    <div>
                                        <img class="card-img-top p-4 bg-white" src=@c.Img alt="@c.Name">
                                    </div>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@c.Name</h5>
                                    <p class="card-text text-center f-sz-12 ">@c.PurposeFor</p>
                                    <p class="card-text rounded text-center price-for-list">@c.Price ₴</p>
                                </div>
                            </div>
                        </div>        
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var color = @Html.Raw(Json.Serialize(ViewBag.color));
        var brand = @Html.Raw(Json.Serialize(ViewBag.brand));
        var PurposeFor = @Html.Raw(Json.Serialize(ViewBag.PurposeFor));

        $(function () {
            var checkoptions = [];
            checkoptions = color.concat(manufacturer);
            checkoptions = checkoptions.concat(PurposeFor);
            
            $('input[type=checkbox]').each(function () {
                if (checkoptions.includes(this.value)) {
                    $(this).prop("checked", true);
                }
            });
        })


        $(".sort").click(function () {
            var sortorder = $(this).data('sortorder');
            var link = "/Home/Index?";
            color.forEach(function (value) {
                link += "color=" + value + "&";
            });
            brand.forEach(function (value) {
                link += "manufacturer=" + value + "&";
            });
            link += "sortOrder=" + sortorder;
            window.location.href = link;
        })


        $("a").click(function (event) {
            event.stopPropagation();
        });
    </script>
}


