@model IEnumerable<BeautySouthKoreaSiteMVC.Models.Cosmetic>
@using System.Linq;
@{
    ViewData["Title"] = "BSK";


}

<div class="container">
    <div class="content row">
        <div class="col-sm-3">
            <section class="sticky-top">

                <div class="col-md-12 p-0 m-0" type="button" data-toggle="collapse" data-target="#collapseFace" aria-expanded="false" aria-controls="collapseExample">
                    <div class="border-bottom border-top f-sz-18">
                        <a class="text-decoration-none text-dark" asp-controller="Cosmetic" asp-action="Face">Face</a>
                    </div>
                </div>
                <div class="collapse" id="collapseFace">
                    <div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Тональное средство</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">ВВ-крем</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">СС-Крем</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Румяна</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Контуринг лица</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Бронзеры</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Хайлайтеры</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Пудры</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Консилеры, корректоры</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Базы, праймеры под макияж</a></div>
                        <div><a class="text-decoration-none text-dark f-sz-15 ml-3" href="#">Спреи для фиксации макияжа</a></div>
                    </div>
                </div>

                <p class="col-md-12">
                    <div type="button" data-toggle="collapse" data-target="#collapseEye" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top f-sz-18">

                            <a asp-controller="Cosmetic" asp-action="Eyes" class="text-decoration-none text-dark">Eye</a>

                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapseEye">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

                <p>
                    <div type="button" data-toggle="collapse" data-target="#collapseNails" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top f-sz-18">
                            <a asp-controller="Cosmetic" asp-action="Fingernails" class="text-decoration-none text-dark">Fingernails</a>
                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapseNails">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

                <p>
                    <div type="button" data-toggle="collapse" data-target="#collapseLips" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top f-sz-18">
                            <a asp-controller="Cosmetic" asp-action="Lips" class="text-decoration-none text-dark">Lips</a>
                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapseLips">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

                <p>
                    <div type="button" data-toggle="collapse" data-target="#collapseMakeupRemoval" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top f-sz-18">
                            <a asp-controller="Cosmetic" asp-action="RemovingMakeup" class="text-decoration-none text-dark">Removing makeup</a>
                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapseMakeupRemoval">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

            </section>
        </div>

        <div class="col-sm-9 p-0">
            <div class="col-md-12 mb-3">
                <form id="my_form" asp-action="Index" method="get">

                    @{
                        <label>Color:</label>
                        var result = Model.FirstOrDefault(p => p.Color == "white"); if (result != null)
                        { <input type="checkbox" name="color" value="white" /><span>White</span>}
                        result = Model.FirstOrDefault(p => p.Brand == "black"); if (result != null)
                        { <input type="checkbox" name="color" value="black" /><span>Black</span> }


                        <br />
                        <p></p>
                        <label>Manufacturer:</label>
                        result = Model.FirstOrDefault(p => p.Brand == "A"); if (result != null)
                        { <input type="checkbox" name="brand" value="A" /><span>A</span> }
                        result = Model.FirstOrDefault(p => p.Brand == "B"); if (result != null)
                        { <input type="checkbox" name="brand" value="A" /><span>B</span> }
                        result = Model.FirstOrDefault(p => p.Brand == "C"); if (result != null)
                        { <input type="checkbox" name="brand" value="A" /><span>C</span> }
                        result = Model.FirstOrDefault(p => p.Brand == "D"); if (result != null)
                        { <input type="checkbox" name="brand" value="A" /><span>D</span> }
                        <p></p>
                        <label>Purpose:</label>
                        result = Model.FirstOrDefault(p => p.PurposeFor == "Face"); if (result != null)
                        { <input type="checkbox" name="PurposeFor" value="Face" /><span>Лица</span> }

                        result = Model.FirstOrDefault(p => p.PurposeFor == "Eyes"); if (result != null)
                        { <input type="checkbox" name="PurposeFor" value="Eyes" /><span>Глаз</span> }

                        result = Model.FirstOrDefault(p => p.PurposeFor == "Fingernails"); if (result != null)
                        { <input type="checkbox" name="PurposeFor" value="Fingernails" /><span>Ногтей</span> }

                        result = Model.FirstOrDefault(p => p.PurposeFor == "Lips"); if (result != null)
                        { <input type="checkbox" name="PurposeFor" value="Lips" /><span>Губ</span> }


                        <input class="btn btn-info float-right" type="submit" value="Search" />
                    }


                </form>

                <table class="table">
                    <thread>
                        <tr>
                            <th>
                                <a class="sort" id="sortname" data-sortorder="@ViewBag.NameSortParm" href="javascript:void(0)">@Html.DisplayNameFor(model => model.Name)</a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                <a class="sort" id="sortprice" data-sortorder="@ViewBag.PriceSortParm" href="javascript:void(0)">@Html.DisplayNameFor(model => model.Price)</a>
                            </th>
                        </tr>
                    </thread>
                </table>
            </div>

            <div class="row pr-3 pl-3">
                @foreach (var c in Model)
                {
                        <div class="filter col-md-3 p-0 hover-bc-card" data-category="@c.PurposeFor">
                            <div class="p-3">
                                <a class="text-decoration-none text-dark" asp-action="Product" asp-controller="Cosmetic" asp-route-id="@c.Id">
                                    <div>
                                        <img class="card-img-top p-4 bg-white" src=@c.Img alt="@c.Name">
                                    </div>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@c.Name</h5>
                                    <p class="card-text text-center f-sz-12 ">@c.PurposeFor</p>
                                    <p class="card-text rounded text-center price-for-list">@c.Price ₴</p>
                                </div>
                            </div>
                        </div>        
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var color = @Html.Raw(Json.Serialize(ViewBag.color));
        var brand = @Html.Raw(Json.Serialize(ViewBag.brand));
        var PurposeFor = @Html.Raw(Json.Serialize(ViewBag.PurposeFor));

        $(function () {
            var checkoptions = [];
            checkoptions = color.concat(manufacturer);
            checkoptions = checkoptions.concat(PurposeFor);
            
            $('input[type=checkbox]').each(function () {
                if (checkoptions.includes(this.value)) {
                    $(this).prop("checked", true);
                }
            });
        })


        $(".sort").click(function () {
            var sortorder = $(this).data('sortorder');
            var link = "/Home/Index?";
            color.forEach(function (value) {
                link += "color=" + value + "&";
            });
            brand.forEach(function (value) {
                link += "manufacturer=" + value + "&";
            });
            link += "sortOrder=" + sortorder;
            window.location.href = link;
        })


        $("a").click(function (event) {
            event.stopPropagation();
        });
    </script>
}


