@model BeautySouthKoreaSiteMVC.Models.Cosmetic
@{
    ViewBag.Title = "Удаление пользователя";
    ViewData["Yes"] = "Да";
    ViewData["No"] = "Нет";
}

<div>
    <dl class="dl-horizontal">
        <dt>Название товара</dt>
        <dd>@Model.Name</dd>

        <dt>Путь к картинке товара</dt>
        <dd>@Model.Img</dd>

        <dt>Брэнд</dt>
        <dd>@Model.Brand</dd>

        <dt>Цена</dt>
        <dd>@Model.Price</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Предназначен для</dt>
        <dd>@Model.PurposeFor</dd>

        <dt>Вид средства</dt>
        <dd>@Model.Means</dd>

        <dt>Цвет</dt>
        <dd>@Model.Color</dd>

        <dt>Объем</dt>
        <dd>@Model.Volume</dd>

        <dt>Состав товара</dt>
        <dd>@Model.CompositionGoods</dd>

        <dt>Показывать наглавной странице сайта?</dt>
        <dd>
            @{if (Model.ShowMainScreen == true)
                    @ViewData["Yes"]
                    else
                        @ViewData["No"]
            }
        </dd>
        <dt>Доставка Новой Почтой</dt>
        <dd>
            @{if (Model.deliveryNovaPoshta == true)
                    @ViewData["Yes"]
                    else
                        @ViewData["No"]
            }
        </dd>
        <dt>Доставка MeestExpres</dt>
        <dd>
            @{if (Model.deliveryMeestExpres == true)
                    @ViewData["Yes"]
                    else
                        @ViewData["No"]
            }
        </dd>
        <dt>Доставка Justin</dt>
        <dd>
            @{if (Model.deliveryJustin == true)
                    @ViewData["Yes"]
                    else
                        @ViewData["No"]
            }
        </dd>
    </dl>

<div>
    <form asp-controller="Cosmetic" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Удалить" />
        </div>
    </form>
</div>
</div>