@model IEnumerable<BeautySouthKoreaSiteMVC.Models.Cosmetic>
@{
    ViewData["Title"] = "Home Page";
    
    
}
<div class="container">
    <div class="content row">

        <div class="col-sm-3">
            <section class="sticky-top">
                <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleFace" aria-expanded="false" aria-controls="collapseExample">
                    <div class="border-bottom border-top arrow">
                        Лицо
                    </div>
                </div>
                <div class="collapse" id="collapseExampleFace">
                    <div class="">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleEye" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top">
                            Глаза

                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleEye">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleNails" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top">Ногти</div>

                    </div>
                </p>
                <div class="collapse" id="collapseExampleNails">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleLips" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top">Губы</div>

                    </div>
                </p>
                <div class="collapse" id="collapseExampleLips">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleMakeupRemoval" aria-expanded="false" aria-controls="collapseExample">
                        <div class="border-bottom border-top">Снятие макияжа</div>

                    </div>
                </p>
                <div class="collapse" id="collapseExampleMakeupRemoval">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </section>
        </div>

        <div class="col-sm-9 p-0">
            <div class="col-md-12 mb-3">
                <div class="btn-group d-flex justify-content-end">
                    <div class="m-1">Сортировать:</div>
                    <a class="m-1" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm"  asp-route-searchString="@ViewBag.CurrentFilter">По названию</a>
                    <a class="m-1" asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSortParm" asp-route-searchString="@ViewBag.CurrentFilter">По цене</a>
                </div>
            </div>

            <div class="row pr-3 pl-3">
                @foreach (var c in Model)
                {
                    if (c.ShowMainScreen == true)
                    {
                        <div class="col-md-3 p-0 hover-bc-card">
                            <div class="p-3">
                                <a class="text-decoration-none text-dark" asp-action="Product" asp-controller="Cosmetic" asp-route-id="@c.Id">
                                    <div>
                                        <img class="card-img-top p-4 bg-white" src=@c.Img alt="@c.Name">
                                    </div>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@c.Name</h5>
                                    <p class="card-text text-center f-sz-12 ">@c.PurposeFor</p>
                                    <p class="card-text rounded text-center price-for-list">@c.Price ₴</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


